BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 3.300 V;//2.375 V;
//FREQUENCY NET "clk" 53.200000 MHz ;
SYSCONFIG MCCLK_FREQ=53.2 ;
//PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=8 ;
//PULLMODE=UP IO_TYPE=LVCMOS33 ;
//LOCATE COMP "scl" SITE "11" ;
//LOCATE COMP "sda" SITE "12" ;
LOCATE COMP "scl" SITE "28" ;
LOCATE COMP "sda" SITE "27" ;
IOBUF PORT "scl" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "sda" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "enc1b" IO_TYPE=LVCMOS33 ;
IOBUF PORT "enc1a" IO_TYPE=LVCMOS33 ;
LOCATE COMP "enc1a" SITE "23" ;
LOCATE COMP "enc1b" SITE "25" ;
//LOCATE COMP "led" SITE "28" ;
//LOCATE COMP "test" SITE "27" ;
//IOBUF PORT "test" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "scl_x" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sda_x" IO_TYPE=LVCMOS33 ;
LOCATE COMP "scl_x" SITE "11" ;
LOCATE COMP "sda_x" SITE "12" ;
LOCATE COMP "enc2a" SITE "20" ;
LOCATE COMP "enc2b" SITE "21" ;
IOBUF PORT "enc2a" IO_TYPE=LVCMOS33 ;
IOBUF PORT "enc2b" IO_TYPE=LVCMOS33 ;
